#wrapper {
    width: 100%;
    margin-top: 30px;
    height: 250px;
    display: flex;

}

img {
    height: 550px;
}

#prava {
    display: block;
    column-gap: 40px;
    height: 550px;
}

#div1 {
    display: block;
    float: right;
    padding: 50px;
    width: 100%;
    height: 250px;
    font-size: 20px;


}

p.jednicka {
    margin-left: 10px;
}

#div2 {
    float: left;
    height: 50px;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

#div3 {
    display: block;
    float: left;
    padding: 20px;

    width: 100%;
    height: 250px;
    background-image: url("/assets/bg.jpg");
    color: aliceblue;
}

#skilllist {
    font-size: 40px;
    text-align: left;
}

a {
    color: rgb(4, 251, 0);
    font-size: 40px;
}