<div class="row">
    <div id="wrapper">
        <div id="leva"><img src="assets/mainFoto.jpg" alt="image"></div>
        <div id="prava">
            <div id="div1">
                <p class="jednicka">Hello,<br>
                    this is Lukas Zaslavskij, Junior Java developer from Czech Republic currently working in CGI. On
                    this
                    website, you can take a look
                    at my
                    skills and many other
                    stuff. I hope you will enjoy discovering new features of it. <br>
                    See you soon, <br>
                    Lukas</p>
            </div>
            <div id="div2"><button class="btn-lg btn-block" mat-raised-button (click)="openDialog()">My work
                    experience</button></div>
            <div id="div3" class="text-center">

                <p id="skilllist">You can checkout my <br> <br> <a href="/skill-list">Skills list</a></p>

            </div>
        </div>
    </div>
</div>