<div class="container custom-container">
    <div class="col-md-12">
      
      <h3 class="mb-3 text-center">Update Skill</h3>
      <div class="form-group">
        <input type="text" [(ngModel)]="skillData.name" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="skillData.level" class="form-control" placeholder="Level">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="skillData.practise" class="form-control" placeholder="Practise">
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="updateSkill()">Update Skill</button>
      </div>
      
    </div>
  </div>