img {
    height: 100px;
}

#jednickaaa {
    position: relative;

    left: 0px;
}

#options {
    font-size: 30px;
    color: rgb(63, 36, 4);
}

#loginInfo {
    font-size: 20px;
}

mat-divider {

    border-top-color: rgb(0, 30, 255);
    border-top-width: 4px;
}