<nav class="navbar navbar-default border">
    <div class="container" *ngIf="this.authService.user$.value" id="dvojka">
        <div class="navbar-header" id="jednickaaa">
            <img src="assets/foto.jpg" alt="image">
        </div>
        <div id="linked" style="height: 80px;">
            <div><a class="navbar-brand " href="/main" style="color:black;font-size: 30px "> Zaslavskij Website</a>
            </div>
            <div> <a href="https://www.linkedin.com/in/lukaszaslavskij/">
                    <img src="assets/linkedin.jpg" style="height: 20px;margin-left: 30px;" />
                </a>
                <a href="https://github.com/LukasZaslavskij">
                    <img src="assets/github.jpg" style="height: 20px;margin-left: 20px;" />
                </a>
                <a [href]="emailstring" target="_top">
                    <img src="assets/mail.jpg" style="height: 20px;margin-left: 14px;" />
                </a>
            </div>
        </div>

        <div *ngIf="this.authService.accessGranted()">
            <div class="dropdown" appDropdown>
                <a style="cursor: pointer;" class="dropdown-toggle" role="button" id="options">Options </a>
                <ul class="dropdown-menu">
                    <li>
                        <a style="cursor: pointer;" href="/skill-list">Skills list</a>
                    </li>
                    <mat-divider style="border-top-color: rgb(0, 0, 0);
                    border-top-width: 1px;"></mat-divider>
                    <li>
                        <a style="cursor: pointer;" href="/create-skill">Create skill</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="dropdown" appDropdown>
            <a style="cursor: pointer;" class="dropdown-toggle" role="button" id="loginInfo">Login info </a>
            <ul class="dropdown-menu">
                <li>
                    <a>Login email: {{this.authService.user$!.value!.email!}} </a>
                </li>
                <mat-divider></mat-divider>
                <li>
                    <a>Acces {{ this.authService.accessGranted() ? 'granted' :
                        'denied'}}</a>
                </li>
                <mat-divider></mat-divider>
                <li>
                    <a style="cursor: pointer;background-color: rgb(231, 121, 121);"
                        (click)="this.authService.logout()">Logout</a>
                </li>
            </ul>
        </div>





    </div>