<nav class="navbar navbar-default border">
    <div class="container" *ngIf="this.authService.user$.value" id="dvojka">
        <div class="navbar-header" id="jednickaaa">
            <img src="assets/foto.jpg" alt="image">
        </div>
        <div>
            <a class="navbar-brand " href="/main" style="color:black;font-size: 30px "> Zaslavskij Website</a>
        </div>

        <div *ngIf="this.authService.accessGranted()">
            <div class="dropdown" appDropdown>
                <a style="cursor: pointer;" class="dropdown-toggle" role="button" id="options">Options </a>
                <ul class="dropdown-menu">
                    <li>
                        <a style="cursor: pointer;" href="/skill-list">Skills list</a>
                    </li>
                    <li>
                        <a style="cursor: pointer;" href="/create-skill">Create skill</a>
                    </li>
                </ul>
            </div>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <div>
                <div class="no-data text-center">
                    <a style="cursor: pointer;">Login email: {{this.authService.user$!.value!.email!}} </a>
                    <br>
                </div>
                <div>
                    <a style="cursor: pointer;">Acces {{ this.authService.accessGranted() ? 'granted' :
                        'denied'}}</a>
                </div>
            </div>
            <div>
                <button class="btn-info " routerLink="/auth">Login</button> |
                <button class="btn-danger " (click)="this.authService.logout()">Logout</button>
            </div>
        </ul>
    </div>